WebApiComunicacaoFornecedor/Connected Services/ServiceReferenceEstoqueFornecedor/Produtos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obterEstoqueProduto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idProduto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obterEstoqueProdutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xml" nillable="true" type="tns:xml" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="xml">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="produto" type="tns:Produto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Produto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cod_produto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nom_produto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quant_estoque" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obterEstoqueProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:obterEstoqueProduto" />
  </wsdl:message>
  <wsdl:message name="obterEstoqueProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:obterEstoqueProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="ProdutosSoap">
    <wsdl:operation name="obterEstoqueProduto">
      <wsdl:input message="tns:obterEstoqueProdutoSoapIn" />
      <wsdl:output message="tns:obterEstoqueProdutoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProdutosSoap" type="tns:ProdutosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterEstoqueProduto">
      <soap:operation soapAction="http://tempuri.org/obterEstoqueProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProdutosSoap12" type="tns:ProdutosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterEstoqueProduto">
      <soap12:operation soapAction="http://tempuri.org/obterEstoqueProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Produtos">
    <wsdl:port name="ProdutosSoap" binding="tns:ProdutosSoap">
      <soap:address location="http://localhost/wsfornecedor/Produtos/Produtos.asmx" />
    </wsdl:port>
    <wsdl:port name="ProdutosSoap12" binding="tns:ProdutosSoap12">
      <soap12:address location="http://localhost/wsfornecedor/Produtos/Produtos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>